.part1{
	width: 100%;
	height: 110vh;
	background-color: aqua;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}
.part1 .lines{
	width: 33vw;
	height: 60vh;
	margin-top: 25vh;
	margin-left: 6vw;
}
.lines .line1{
	width: 28vw;
	height: 4vh;
	margin-top: 6vh;
	background-color: #e4e9e5;
}
.lines .line2{
	width: 15vw;
	height: 4vh;
	margin-top: 3vh;
	background-color: #e4e9e5;
}
.lines .line3{
	width: 21vw;
	height: 4vh;
	margin-top: 3vh;
	background-color: #e4e9e5;
}
.part1 .page{
	width: 32vw;
	height: 54.9vh;
	margin-left: 21vw;
	margin-top: 17.1vh;
	background-color: #e4e9e5;
}
.part2{
	width: 100%;
	height: 100vh;
	background-color: aquamarine;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	display: flex;
	flex-direction: row;
}
.part2 .paper-ground{
	position: relative;
	height: 50vh;
	width: 28vw;
	background-color: #eda6a0;
}
.paper-ground .paper{
	position: absolute;
	height: 50vh;
	width: 27vw;
	background-color: #e4e9e5;
	float: left;
	left: -1vw;
	top: -2vh;
}
.part3{
	width: 100%;
	height: 170vh;
	background-color: aquamarine;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.part3 .text-square{
	height: 93vh;
	width: 45vw;
	background-color: #ddb8b0;
	margin-left: 16vw;
}
.part3 .sun{
	height: 45vh;
	width: 31vw;
	background-color: aquamarine;
	margin-top: 20vh;
	margin-left: 58vw;
}
.part4{
	width: 100%;
	height: 80vh;
	background-color: aquamarine;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.part4 .lefttop{
	position: relative;
	width: 15vw;
	height: 28vh;
	background-color: #eda66e;
	margin-left: 11vw;
	transform: translateY(8vh);
}
.lefttop .lefttop-child{
	position: absolute;
	width: 15vw;
	height: 28vh;
	background-color: #dc7d91;
	float: right;
	right: -2vw;
	bottom: -11vh;
}
.part5{
	width: 100%;
	height: 65vh;
	background-color: aquamarine;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.part5 .blackbar{
	height: 5vh;
	background-color: #333438;
	margin-left: 5vw;
}
.part5 .paper-ground{
	position: relative;
	width: 80vw;
	height: 50vh;
	background-color: #c95a51;
	margin-left: 10vw;
	margin-top: 10vh;
}
.part5 .paper-ground .paper1{
	position: absolute;
	width: 80vw;
	height: 50vh;
	background-color: #ffeede;
	top: -9vh;
}
.part6{
	width: 100%;
	height: 150vh;
	background-color: aquamarine;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	display: flex;
	flex-direction: row;
}
.part6 .image{
	width: 50vw;
	height: 80vh;
	transform: translateY(32vh);
}
.part6 .text-square{
	width: 25vw;
	height: 80vh;
	background-color: #2c2f34;
	margin-top: 32vh;
}
/* .child1 img{
	position: absolute;
	width: 8.75rem;
	height: 8.75rem;
	float: right;
	right: -5rem;
	bottom: -5rem;
}
.child1 .cchild{
	position: absolute;
	width: 8.75rem;
	height: 8.75rem;
	float: right;
	right: -5rem;
	bottom: -5rem;
	background-color: red;
}		test部分 */