.member_ground{
    height: 200vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.video-container{
    width: 60.5vw;
    height: 50vh;
    margin-left: 20.2vw;
    margin-top: 14vh;
    background-color: aqua;
    border: 0.3vh solid #1f1f1f;
    position: relative;
}
.creator_title{
    width: 60.75vw;
    height: 17vh;
    margin-top: 2vh;
    margin-left: 20.2vw;
    display: flex;
    flex-direction: row;
}
.creator_title .title_left{
    width: 10vw;
    height: 17vh;
    /* background-color: #1f1f1f; */
    position: relative;
}
.creator_title .title_right{
    width: 50.75vw;
    height: 17vh;
    /* background-color: aqua; */
    text-align: right;
}
.who{
    width: 50vw;
    height: 20vh;
    margin-left: 26.5vw;
    margin-top: 10vh;
    text-align: center;
    /* background-color: aqua; */
}
.member{
    width: 80vw;
    height: 30vh;
    margin-top: 2vh;
    margin-left: 10vw;
    /* background-color: aquamarine; */
    text-align: center;
}
.member .photos{
    height: 20vh;
    width: 80vw;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
}
.photos .photo{
    height: 22vh;
    width: 26.7vw;
}
.member .names{
    height: 6vh;
    width: 80vw;
    /* background-color: darkgoldenrod; */
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
}
.names .name{
    width: 18vw;
    height: 6vh;
    font-weight: 400;
    color: white;
    font-size: 4vh;
    text-align: center;
    vertical-align: text-bottom;
    bottom: 0;
    background-color: #1f1f1f;
}
.motto{
    display: flex;
    flex-direction: row;
    width: 85vw;
    height: 50vh;
    margin-left: 7vw;
    /* background-color: aqua; */
}
.motto .motto_title{
    height: 50vh;
    width: 5vw;
    /* background-color: pink; */
    display: flex;
    align-items: center;
}
.motto .saying{
    height: 5.5vh;
    /* background-color: skyblue; */
    display: flex;
    text-align: center;
    color: #1f1f1f;
    font-size: 3vh;
    font-weight: 200;
}