.common-page {
	width: 100vw;
	height: 88vh;
	background-color: antiquewhite;
}

.page {
	width: 100vw;
	height: 75vh;
	background-color: antiquewhite;
}

#clock {
	width: 70vw;
	height: 100vh;
	background-image: url('../img/clock.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	position: relative;
}

.point {
	width: 2vw;
	height: 50vh;
	left: 34vw;
	top: 18vh;
	position: absolute;
	background-image: url('../img/point.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.title {
	width: 60vw;
	height: 25vh;
	right: -2vw;
	top: 30vh;
	position: absolute;
	background-image: url('../img/title.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.textsquare {
	height: 60vh;
	width: 55vw;
	border: 1vh solid #ffff00;
	border-radius: 1vh;
	background-color: #fff;
}

#computer {
	height: 50vh;
	width: 30vw;
	transform: translate(10vw, 10vh);
	position: relative;
}

#phone {
	height: 50vh;
	width: 30vw;
	transform: translate(5vw, 10vh);
	position: relative;
}

.design-title {
	width: 30vw;
	height: 15vh;
	top: 1vh;
	left: 30vw;
	position: absolute;
}

.step {
	width: 40vw;
	height: 25vh;
	position: absolute;
}

.textpaper {
	width: 50vw;
	height: 120vh;
	background-color: #fff;
	position: absolute;
	right: 10vw;
	top: 10vh;
}

.machine {
	width: 20vw;
	height: 30vh;
	position: relative;
	transform: translate(8vw, 80vh);
	background-image: url('../img/machine1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	z-index: 10;
}

#idea {
	width: 5vw;
	height: 10vh;
	left: 16vw;
	top: 80vh;
	position: absolute;
	background-image: url('../img/light.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	z-index: 9;
}

.coal {
	width: 10vw;
	height: 15vh;
	position: absolute;
	right: 30vw;
	z-index: 10;
}

.elements {
	width: 15vw;
	height: 30vh;
	position: relative;
	z-index: 11;
}

.element {
	width: 10vh;
	height: 8vh;
	position: absolute;
}

.promotion-button {
	/* 悬停添加箭头图标 */
	display: inline-block;
	border-radius: 2vh;
	background-color: #face35;
	border: none;
	color: #ffff;
	text-align: center;
	font-size: 3.5vh;
	font-weight: 400;
	padding: 1vw;
	width: 20vw;
	height: 10vh;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	vertical-align: middle;
	box-shadow: 0px 0px 12px rgba(255, 255, 127, 0.5);
}

.promotion-button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.promotion-button span::after {
	content: ">";
	position: absolute;
	opacity: 0;
	top: 0;
	right: -3.5vh;
	transition: 0.5s;
}

.promotion-button:hover span {
	padding-right: 4vh;
}

.promotion-button:hover span::after {
	opacity: 1;
	right: 0;
}