body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	/* 隐藏横向滚动条 */
	scroll-behavior: smooth;
}

.toTop {
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 80px;
	height: 80px;
	background-image: url("https://static.igem.wiki/teams/4907/wiki/background/top1.png") !important;
	background-size: 80px 80px;
	visibility: visible;
	cursor: pointer;
	transition: all .2s ease;
	z-index: 1100;
}

@media (max-width: 1000px) {
	.toTop {
		right: 3px !important;
	}
}

.toTop::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: -4px auto;
	width: 12px;
	height: 12px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.toTop:hover {
	animation: myfirst 0.8s ease-in-out;
}

@keyframes myfirst {
	0% {
		transform: translate(0px, 0px);
	}

	50% {
		transform: translate(0px, -15px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}

.toTop:hover::after {
	border-color: #fff;
}

/*侧边栏开始*/
.myScrollspy {
	position: fixed;
	top: 12vh;
	left: 0;
	width: 16.67vw;
	height: calc(100vh - 12vh);
	transition: 0.5s;
	opacity: 1;
	background-color: #e0ebeb;
	pointer-events: auto;
	box-shadow: 5px 0 10px -5px rgba(0, 0, 0, 0.5);
	pointer-events: auto;
	/* 允许点击事件 */
}

.myScrollspy.hidden * {
	opacity: 0;
	/* 设置透明度为 0 */
	pointer-events: none;
	/* 禁用点击事件 */
}

.left-bar {
    position: relative;
    width: 100%;
    padding: 0px;
    z-index: 2;
    display: block;
}

.left-bar-right {
	position: relative;
	width: 80%;
}

.sidebar-link:hover {
	color: #a5af14;
}

.left-bar-right-item {
	padding-bottom: 15px;
	background-image: url('../img/textback.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 70%;
	transform: translateX(1.5vw);
}

.small-item {
	padding-left: 10px;
	padding-bottom: 2px !important;
}

.left-bar-right-item-two {
	padding-bottom: 10px;
	transform: translateX(1.5vw);
}

.left-bar-right-item-three {
	padding-bottom: 10px;
	transform: translateX(2.5vw);
}

.left-bar-right-item-four {
	padding-bottom: 10px;
	transform: translateX(3.5vw);
}

.left-bar-right-item-five {
	padding-bottom: 10px;
	transform: translateX(4.5vw);
}

.sidebar-link {
	font-size: 20px;
	/* 设置字体大小 */
	color: #274940;
	transition: font-size 0.2s;
	/* 设置过渡动画效果 */
	text-decoration: none;
	font-family: Aaargh;
	font-weight: bold;
}

.sidebar-link.current {
	font-size: 26px;
	/* 设置字体大小 */
	color: #b2aa6d;
}

.sidebar-link.active {
	font-size: 30px;
	/* 设置字体大小 */
	color: #b2aa6d;
}

/*侧边栏二级*/
.sidebar-link-two:hover {
	color: #a5af14;
}

.sidebar-link-two {
	font-size: 16px;
	/* 设置字体大小 */
	color: #274940;
	transition: font-size 0.2s;
	/* 设置过渡动画效果 */
	font-family: Aaargh;
	font-weight: bold;
	text-decoration: none;
}

.sidebar-link-two.current {
	font-size: 17px;
	/* 设置字体大小 */
	color: #b2aa6d;
}

.sidebar-link-two.active {
	font-size: 17px;
	/* 设置字体大小 */
	color: #b2aa6d;
}

.scroll-point {
	position: absolute;
	top: 0;
	right: 0;
	height: 4vh;
	width: 2vw;
	transition: height 0.2s ease-out;
	background-image: url('../img/triangle.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80% 100%;
}

.active1 {
	opacity: 1 !important;
}

.active2 {
	top: 235px !important;
	opacity: 1 !important;
}

.active3 {
	top: 315px !important;
	opacity: 1 !important;
}

.active4 {
	top: 380px !important;
	opacity: 1 !important;
}

/*myPage框架开始*/
.myPage {
	position: relative;
	left: 16.67vw;
	width: 83.33vw;
}

.myPage:before {
	content: ' ';
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.myPage-main {
	position: relative;
	width: 95%;
}

.myPage-main-content {
	position: relative;
	width: 85%;
	margin: auto;
	text-align: justify;
}

.myPage-padding {
	position: absolute;
	width: 5%;
	height: 100%;
	right: 0;
	background-color: #e0ebeb;
	box-shadow: -5px 0 10px -5px rgba(0, 0, 0, 0.5);
}

.page-background {
	width: 83.33vw;
	height: 88vh;
	position: fixed;
	z-index: -2;
	background-image: url('../img/Pattern.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	opacity: 0.2;
}

/*分页段落开始*/
.myPage-paragraph {
	position: relative;
	width: 90%;
	margin: auto;
}

.myPage-paragraph-headline-h2 {
	color: #194c75;
	font-family: Aaargh;
	font-size: 45px;
	display: inline-block;
	padding-bottom: 10px;
	border-bottom: 0.25rem solid #66805d;
	font-weight: bold;
}

.myPage-paragraph-headline-h2:nth-of-type(1) {
	margin-top: 70px;
}

.myPage-paragraph-headline-h3 {
	color: #194c75;
	font-family: Aaargh;
	font-size: 35px;
	padding-bottom: 10px;
	padding-top: 40px;
	font-weight: bold;
}

.myPage-paragraph-headline-h3::before {
	content: "";
	display: inline-block;
	width: 30px;
	/* 根据 SVG 图标的宽度调整 */
	height: 30px;
	/* 根据 SVG 图标的高度调整 */
	background-image: url("https://static.igem.wiki/teams/4907/wiki/background/l2.svg");
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 0.5em;
	/* 调整图标与文本之间的间距 */
}

.myPage-paragraph-headline-h4 {
	color: #194c75;
	font-family: Aaargh;
	font-size: 30px;
	padding-bottom: 10px;
	font-weight: bold;
}

.myPage-paragraph-headline-h4::before {
	content: "";
	display: inline-block;
	width: 30px;
	/* 根据 SVG 图标的宽度调整 */
	height: 30px;
	/* 根据 SVG 图标的高度调整 */
	background-image: url("https://static.igem.wiki/teams/4907/wiki/background/l3.svg");
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 0.5em;
	/* 调整图标与文本之间的间距 */
}

.myPage-paragraph-headline-h5 {
	color: #194c75;
	font-family: Aaargh;
	font-size: 26px;
	padding-bottom: 10px;
	font-weight: bold;
}

.myPage-paragraph-headline-h5::before {
	content: "";
	display: inline-block;
	width: 30px;
	/* 根据 SVG 图标的宽度调整 */
	height: 30px;
	/* 根据 SVG 图标的高度调整 */
	background-image: url("https://static.igem.wiki/teams/4907/wiki/background/l4.svg");
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 0.5em;
	/* 调整图标与文本之间的间距 */
}

.myPage-paragraph-headline-h6 {
    color: #274940;
    display: inline-block;
    font-family: Aaargh;
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 3px solid #9da96d;
    font-weight: bold;
}

.myPage-paragraph-content {
	color: #274940;
	font-family: chocolates;
	font-size: 24px;
	line-height: 2em;
	padding-bottom: 20px;
}

.myPage-paragraph-content a {
	color: #444f13;
}

.myPage-paragraph-fig img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	max-width: 500px;
	width: 100%;
	width: -moz-available;
}

/*配图的文字*/
.myPage-paragraph-fig-description {
	font-size: large;
	font-family: chocolates;
	text-align: center;
	margin-top: 22px;
	margin-right: 80px;
	margin-left: 80px;
	line-height: 1.5;
	color: #444f13;
	padding-bottom: 30px;
}

.myPage-paragraph-ul {
	color: #274940;
	font-family: chocolates;
	font-size: 24px;
	counter-reset: my-counter;
	/* 设置计数器的初始值 */
	list-style-type: none;
	/* 隐藏默认的序号样式 */
	padding-left: 0;
	/* 移除默认的内边距 */
}

.myPage-paragraph-ul li::before {
	content: "";
	display: inline-block;
	width: 30px;
	/* 根据 SVG 图标的宽度调整 */
	height: 30px;
	/* 根据 SVG 图标的高度调整 */
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='%23EBC475' class='bi bi-stars' viewBox='0 0 16 16'%3E%3Cpath d='M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 0.5em;
	/* 调整图标与文本之间的间距 */
}

.myPage-paragraph-reference {
	color: #274940;
	font-family: chocolates;
	font-size: 24px;
	counter-reset: my-counter;
	/* 设置计数器的初始值 */
	list-style-type: none;
	/* 隐藏默认的序号样式 */
	padding-left: 0;
	/* 移除默认的内边距 */
}

.myPage-paragraph-reference li {
	margin-bottom: 10px;
}

.myPage-paragraph-reference li::before {
	content: "[" counter(my-counter) "]";
	/* 设置序号的内容和格式 */
	counter-increment: my-counter;
	/* 递增计数器的值 */
	left: 0;
	/* 将序号定位到最左侧 */
	width: 40px;
	/* 序号部分的固定宽度 */
	text-align: left;
	/* 将序号左对齐 */
}

/*parts表格开始*/
.myPage-paragraph-table-div {
    padding-top: 20px;
}

.myPage-paragraph-table {
    border-collapse: collapse;
    border: 2px solid lightblue;
    width: 100%;
}

.myPage-paragraph-table td {
    color: #274940; /* 设置链接的文本颜色 */
    text-align: center;
}

.td-img-container {
    width: 100%;
    text-align: center;
}

.myPage-paragraph-table img {
    position: relative;
    width: 80%;
}

.myPage-paragraph-table a {
    color: #b2b994; /* 设置链接的文本颜色 */
    text-decoration: none; /* 添加下划线 */
}

.myPage-paragraph-table a::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("https://static.igem.wiki/teams/4907/wiki/parts/niao.png");
    background-size: cover;
    margin-left: 10px; /* 调整图标与连接之间的间距 */
}

.myPage-paragraph-table a::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("https://static.igem.wiki/teams/4907/wiki/parts/niao.png");
    background-size: cover;
    margin-left: 5px; /* 调整图标与连接之间的间距 */
}

.myPage-paragraph-table a:hover {
    color: #66805e; /* 设置链接的鼠标悬停时的文本颜色 */
    text-decoration: none; /* 移除鼠标悬停时的下划线 */
}

.myPage-paragraph-table tr:first-child {
    background-color: #f7f0d5;
    color: lightblue;
}

.myPage-paragraph-table th,
.myPage-paragraph-table td {
    border: 1px solid lightblue;
    padding: 8px;
}

.myPage-paragraph-table th:first-child,
.myPage-paragraph-table td:first-child {
    width: 10%;
}


/*parts表格结束*/