<footer class="footer" style="background-image: url({{url_for('static',filename='img/footer.png')}});">
    <div class="left">
        <div class="XMU">Xiamen University</div>
        <div class="follow">follow us</div>
        <div class="icon-group">
            <!-- 点击跳转可以自行在a中加入href -->
            <div class="icon" style="margin-left: 0.5vw;">
                <a>
                    <img src="{{url_for('static',filename='img/wechat.png')}}" alt="">
                </a>
            </div>
            <div class="icon" style="margin-left: 4vw;">
                <a>
                    <img src="{{url_for('static',filename='img/facebook.png')}}" alt="">
                </a>
            </div>
            <div class="icon" style="margin-left: 4vw;">
                <a>
                    <img src="{{url_for('static',filename='img/camera.png')}}" alt="">
                </a>
            </div>
            <div class="icon" style="margin-left: 4vw;">
                <a>
                    <img src="{{url_for('static',filename='img/blog.png')}}" alt="">
                </a>
            </div>
            <div class="icon" style="margin-left: 4vw;">
                <a>
                    <img src="{{url_for('static',filename='img/wechat.png')}}" alt="">
                </a>
            </div>
        </div>
        <div class="web" style="margin-top: 3vh;">
            <a href="https://creativecommons.org/licenses/by/4.0/"
                style="color: white;font-weight: 400;font-size: 2vh;">© 2023 - Content on this site is
                licensed under a Creative Commons Attribution 4.0 International license.</a>
        </div>
        <div class="web" style="margin-top: 0vh;">
            <a href="https://github.com/singinglight/singinglight.github.io"
                style="color: white;font-weight: 400;font-size: 2vh;">The repository used to create this
                website is available at github.com/singinglight/singinglight.github.io.</a>
        </div>
    </div>
    <div class="right">
        <a>
            <img src="{{url_for('static',filename='img/e-mail.png')}}" />
        </a>
        <div class="text">
            contact us<br />
            igem_xmu@163.com
        </div>
    </div>
</footer>