<div class="footer">
    <div style="height: 40vh;"></div>		<!-- 占位格 -->
    <div class="cloud fadeInRight wow animated box">
        <div class="xmu-icon">
            <img src="{{url_for('static',filename='img/xmu.png')}}" style="height: 13vh;width: 8vw;left: 3vw;position: absolute;"/>
            <img src="{{url_for('static',filename='img/university.png')}}" style="height: 5vh;width: 20vw;position: absolute;left: -3vw;top: 12vh;"/>
        </div>
        <div class="map-icon">
            <img src="{{url_for('static',filename='img/map.png')}}" style="height: 13vh;width: 8vw;left: 3vw;position: absolute;"/>
            <img src="{{url_for('static',filename='img/id.png')}}" style="height: 5vh;width: 30vw;position: absolute;left: -7vw;top: 13vh;"/>
        </div>
        <div class="follow_us"></div>
        <div class="icongroup">
            <div style="height: 15vh;width: 30vw;">
                <div class="icon" style="top: 2vh;left: 3vw;">
                    <a>
                        <img src="{{url_for('static',filename='img/wechat.png')}}" alt="">
                    </a>
                </div>
                <div class="icon" style="top: 2vh;left: 13vw;">
                    <a>
                        <img src="{{url_for('static',filename='img/facebook.png')}}" alt="">
                    </a>
                </div>
                <div class="icon" style="top: 2vh;left: 23vw;">
                    <a>
                        <img src="{{url_for('static',filename='img/camera.png')}}" alt="">
                    </a>
                </div>
            </div>
            <div style="height: 15vh;width: 30vw;">
                <div class="icon" style="top: 16vh;left: 8vw;">
                    <a>
                        <img src="{{url_for('static',filename='img/blog.png')}}" alt="">
                    </a>
                </div>
                <div class="icon" style="top: 16vh;left: 19vw;">
                    <a>
                        <img src="{{url_for('static',filename='img/twitter.png')}}" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="web" style="margin-top: 3vh;transform: translateY(-38vh);">
            <a href="https://creativecommons.org/licenses/by/4.0/"
                style="color: white;font-weight: 400;font-size: 2vh;">© 2023 - Content on this site is
                licensed under a Creative Commons Attribution 4.0 International license.</a>
        </div>
        <div class="web" style="margin-top: 0vh;transform: translateY(-38.4vh);">
            <a href="https://github.com/singinglight/singinglight.github.io"
                style="color: white;font-weight: 400;font-size: 2vh;">The repository used to create this
                website is available at github.com/singinglight/singinglight.github.io.</a>
        </div>
    </div>
</div>